<div class="detail">
  <div class="left-detail">
    <h4>{{post.title}}</h4>
    <img src={{post.imageUrl}} />
    <h6>{{post.description}}</h6>
    <p>{{post.content}}</p>
    <p>Tác giả: {{post.author}}</p>
    <p>Từ khoá: {{post.keywords}}</p>
    <p>Lượt xem: {{post.view}}</p>
  </div>
  <div class="right-detail">
    <div class="list-category">
      {{#each categories}}
        <a href="/client/post/{{this.id}}" class="item-post">
          <div class="card" style="width: 18rem;">
            <img src={{this.imageUrl}} class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">{{this.title}}</p>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</div>